---

---

<style>

</style>

<div class="navbar">
  <div class="logo">Mathlet</div>
  <div class="nav-links">
    <a href="/">Home</a>
    <a href="/kontakt/">Kontakt</a>
    <a href="/blog/">Blog</a>
  </div>
  <a class="contact-btn" href="/contact/">Contact</a>
</div>
