---

---

<!-- Start Generation Here -->
<article class="news-item">
    <img src={Astro.props.image} alt="News Image" class="news-image" />
    <time datetime={Astro.props.date} class="news-date">{Astro.props.date}</time>
    <h2 class="news-heading">{Astro.props.heading}</h2>
</article>
<!-- End Generation Here -->
<!-- Example usage:
<News image="/path/to/image.jpg" date="2023-10-01" heading="Exciting News!" />
-->

